.header__logo {
  margin: 0 0 41px;
}

@media screen and (max-width: 917px) {
  .header__logo {
    margin: 0 27px 32px;
  }
}

@media screen and (max-width: 425px) {
  .header__logo {
    width: 40%;
  }
}
