.button__like {
  width: 21px;
  height: 19px;
  position: absolute;
  right: 18px;
  bottom: 30px;
  background: url(../../../images/heart.svg) no-repeat center;
}

.button__like:hover {
  opacity: 0.5;
}