.profile {
  margin-bottom: 50px;
  display: flex;
  flex-direction: row;
  justify-content: start;
  align-items: center;
}

@media screen and (max-width: 880px) {
  .profile {
    margin-bottom: 36px;
    flex-direction: column;
  }
}