.profile {
  max-width: 880px;
  margin-bottom: 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

@media screen and (max-width: 917px) {
  .profile {
    margin-bottom: 36px;
    flex-direction: column;
  }
}