.popup__button_disabled {
  opacity: 0.2;
	border: 1px solid rgba(0, 0, 0, 1);
	box-sizing: border-box;
	background: none;
	color: rgba(0, 0, 0, 1);
}

.popup__button_disabled:hover {
  opacity: 0.2;
}