.profile__card-item {
  margin: 0;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

@media screen and (max-width: 618px) {
  .profile__card-item {
    flex-wrap: nowrap;
    flex-direction: column;
  }
}