.profile__info {
  display: grid;
  grid-template-columns: auto 24px;
  gap: 16px 18px;
}

@media screen and (max-width: 618px) {
  .profile__info {
    grid-template-columns: auto 20px;
    margin-top: 30px;
    gap: 14px 10px;
  }
}

@media screen and (max-width: 425px) {
  .profile__info {
    grid-template-columns: auto 18px;
  }
}