.profile__button_edit {
  grid-area: 1 / -2 / 2 / -1;
  justify-self: end;
  align-self: end;
  margin-bottom: 10px;
}

@media screen and (max-width: 618px) {
  .profile__button_edit {
    width: 20px;
    height: 20px;
    margin-bottom: 8px;
  }
}

@media screen and (max-width: 425px) {
  .profile__button_edit {
    width: 18px;
    height: 18px;
    margin-bottom: 5px;
  }
}