.photos {
  margin: 0 auto;
}

.photo__card-grid {
  max-width: 880px;
  margin: 0;
  padding: 0;
  display: grid;
  grid-template-columns: repeat(auto-fill, 282px);
  gap: 20px 17px;
  place-content: center;
  list-style: none;
}

.photo__card-item {
  /* border: green solid 2px; */
  width: 282px;
  min-height: 361px;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  background: #FFFFFF;
  border-radius: 10px;
}

.photo__card-img {
  /* border: red solid .5px; */
  width: 100%;
  border-radius: 10px 10px 0px 0px;
}

.photo__title {
  /* border: purple solid .5px; */
  width: 220px;
  /* margin: 0; */
  margin: 25px 0 0 21px;
  align-self: flex-start;
  font-weight: 900;
  font-size: 24px;
  line-height: 1.2;
  color: #000000;

  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.button_like {
  /* border: darkblue solid .5px; */
  width: 21px;
  height: 19px;
  position: absolute;
  right: 18px;
  bottom: 30px;
  background: url(../../images/heart.svg) no-repeat center;
}