.photos__title {
  width: 220px;
  margin: 25px 0 0 21px;
  align-self: flex-start;
  font-weight: 900;
  font-size: 24px;
  line-height: 1.21;
  color: #000000;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}